{% extends 'gabarit.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block main %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h2>Réinitialiser votre mot de passe</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small class="petit">
             veuillez saisir votre email adresse, nous avons vous envoyer un lien pour réintialiser votre mot de passe.
            </small>
        </div>

       <!-- <button class="btn btn-primary">Envoyer </button>-->
        <input type="submit" value="Envoyer" />
    {{ form_end(requestForm) }}
{% endblock %}