{% extends 'gabarit.html.twig' %}
{% block main %} 
<h2> Inscription</h2>
{{ form_start(inscriptionForm)}}

{{ form_widget(inscriptionForm)}}
<input type="submit"  value="S'inscrire"/>

{{ form_end(inscriptionForm)}}

{% endblock %}

{% block title %}  {{ parent()}} | Inscription{% endblock %}