{% extends 'gabarit.html.twig' %}
{% block main %} 
<h2> Mon Profil</h2>
{{ form_start(modificationForm)}}

{{ form_widget(modificationForm)}}
<input type="submit"  value="Modifier"/>

{{ form_end(modificationForm)}}

{% endblock %}

{% block title %}  {{ parent()}} | Mon Profil{% endblock %}